---
layout: default
---
{%capture slider-title%}
      <h2>ACM Symposium on Cloud Computing 2022</h2>
	    <h3 style="color:white">San Francisco, CA</h3>
        <h3 style="color:white">November, 2022</h3>
{%endcapture%}

{% include slider.html content=slider-title %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-1">

      </div><!-- /.col-md-3 -->

      <div class="col-md-7">
        <section id="main-content">
          <div class="section-content">
            <header></header>
        <br>
		<p align="justify">SoCC'22 is 13th edition of the annual ACM Symposium on Cloud Computing, the premier conference on cloud computing. It brings together researchers, developers, users, and practitioners interested in cloud computing, and is the only conference co-sponsored by the ACM Special Interest Groups on Management of Data (SIGMOD) and on Operating Systems (SIGOPS).  As in prior SoCC conferences, SoCC'22 will foster connections between the academic and industrial communities operating in the cloud space.</p> 

        {% include important_dates.html %}

         <h2>Announcements </h2>
          <br>
          <ul>
             <li><b>[4/28/2022] Call for papers is out. Send us your best work!</b></li>
             <li><b>[4/15/2022] SoCC 2022 website is up!</b></li>
          </ul>
         <br>

         <h2>Sponsors</h2>
         <div class="container">
            <div class="navbar-brand nav" id="brand"><br>
                <a href="index.html"><img src="assets/img/logos-SIGMOD.gif" alt="brand" style="padding-right:20px; border:0px currentColor" width="280"></a>
                <a href="index.html"><img src="assets/img/logos-SIGOPS.jpg" alt="brand" style="padding-right:20px; bborder:0px currentColor" width="280"></a>
            </div>
         </div>


          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
