---
layout: default
---

{% include slider.html content="<h2>Keynote talks</h2>"%}

<!-- Content -->
<div class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section id="main-content">


      <!-- <font size="+2">TBA</font> -->

      <div class="section-content">
        <h2>Keynote Speakers</h2>
	  {% include keynote-speaker.html key="stoica" photo="assets/img/stoica.jpeg" %}
	      <br>
	      <br>
              <br />
	  {% include keynote-speaker.html key="kozyrakis" photo="assets/img/kozyrakis.jpeg" %}
	      <br>
	      <br>
              <br />
         {% include keynote-speaker.html key="brooker" photo="assets/img/brooker.jpeg" %}
	      <br>
	      <br>
            <br />
         {% include keynote-speaker.html key="tan" photo="assets/img/tan.jpeg" %}
      </div>


      <!-- /.section-content -->
    </section><!-- /.main-content -->
  </div><!-- /.col-md-9 -->

  <!-- <div class="col-md-3">
    {% include latest-news.html %}
  </div> -->

</div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- end Content -->
