---
layout: default
---

{% include slider.html content="<h2>Keynote talks</h2>"%}

<!-- Content -->
<div class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section id="main-content">
      <div class="section-content">
        <h2>Keynote Speakers</h2>
	  {% include keynote-speaker.html key="klimovic" photo="assets/img/klimovic.jpg" %}
	      <br>
	      <br>
              <br />
	  {% include keynote-speaker.html key="hellerstein" photo="assets/img/hellerstein.png" %}
	      <br>
	      <br>
              <br />
         {% include keynote-speaker.html key="olukotun" photo="assets/img/olukotun.png" %}
	      <br>
	      <br>
            <br />
         {% include keynote-speaker.html key="cruanes" photo="assets/img/cruanes.jpg" %}
      </div><!-- /.section-content -->
    </section><!-- /.main-content -->
  </div><!-- /.col-md-9 -->

  <div class="col-md-3">
    {% include latest-news.html %}
  </div><!-- /.col-md-3 -->

</div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- end Content -->
