---
layout: default
---

{% include slider.html content="<h2>Women in Systems Meetup</h2>"%}

<!-- Content -->
<div class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section id="main-content">


      <!-- <font size="+2">TBA</font> -->

      <div class="section-content">
        <h2>Women in Systems Meetup at SOCC </h2>
            <p>We are excited to host a Women in Systems meetup at SOCC this year! The broad goal of this meetup is to build an active and broad community, similar to <a href="https://www.sigarch.org/wicarch/">WICARCH</a> and <a href="https://n2women.comsoc.org/">N2Women</a>. During the meetup, we will discuss potential approaches to building this community.</p>
	      <br>
          <p>This meetup is also a space to connect with fellow women in the systems community, share experiences, and expand your professional circle. Women at all stages of their careers (students, postdocs, faculty, researchers, engineers) are welcome to attend.</p>
	      <br>
              <br />
              <p>Please feel free to grab your breakfast and join us for a morning of conversation, collaboration, and connection!</p>
              <br />
              <p><b>Where:</b> TBD</p> <br>
              <p><b>When:</b> Thursday, November 21, 2024, 8:00-9:00am</p> <br>
              <br>
              <p>Please contact Neeraja J. Yadwadkar <a href="mailto:neeraja@austin.utexas.edu">(neeraja@austin.utexas.edu)</a> with any questions.</p>
      </div>


      <!-- /.section-content -->
    </section><!-- /.main-content -->
  </div><!-- /.col-md-9 -->

  <!-- <div class="col-md-3">
    {% include latest-news.html %}
  </div> -->

</div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- end Content -->
