---
layout: default
---

{% include slider.html content="<h2>Conference officers</h2>"%}

<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
        <!--MAIN Content-->
            <div class="col-md-9">
            <div id="page-main">
            <section id="members">
            <header><h1>Conference Officers</h1></header>
            
            <section id="general-chair">
                <header><h2 class="no-divider">General chair</h2></header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="https://www.linkedin.com/in/fatma-ozcan-3299858/">Fatma Ozcan</a></header>
                                    <figure>Systems Research@Google</figure>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section><!-- /#general-chair -->



            <!-- /#PC-chair -->
            <section id="program-chairs">
                <header><h2 class="no-divider">Program Committee chairs</h2></header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                <header><a target="_blank" href="https://humming80.github.io/">Yuanyuan Tian</a></header>
                                <figure>Gray Systems Lab, Microsoft</figure>        
                                </div>
                            </article>
                        </div><!-- /.author -->
                    </div>
                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="http://www.doc.ic.ac.uk/~prp/">Peter Pietzuch</a></header>
                                    <figure>Imperial College London</figure> 
                                </div>
                            </article>
                        </div><!-- /.author -->
                    </div>
                </div> <!-- end row -->
            </section><!-- /#program-chairs -->
            
            <section id="steering-committee">
                <header><h2 class="no-divider">Steering committee</h2></header>
                <div class="row">

                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="https://www.microsoft.com/en-us/research/people/ccurino/">Carlo Curino</a></header>
                                    <figure>Gray Systems Lab, Microsoft</figure>
                                </div>
                            </article>
                        </div><!-- /.author -->
                    </div>

                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="https://cs.brown.edu/people/rfonseca">Rodrigo Fonseca</a></header>
                                    <figure>Brown University and Microsoft Research</figure>
                                </div>
                            </article>
                        </div>
                    </div>  
                    
                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="https://stratos.seas.harvard.edu/">Stratos Idreos</a></header>
                                    <figure>Harvard University </figure>
                                </div>
                            </article>
                        </div>
                    </div>  
                    
                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="http://www.cs.cmu.edu/~gibbons/">Phillip B. Gibbons</a></header>
                                    <figure>Carnegie Mellon University</figure>
                                </div>
                            </article>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="http://www.cs.cornell.edu/~hweather/">Hakim Weatherspoon</a></header>
                                    <figure>Cornell University</figure>
                                </div>
                            </article>
                        </div><!-- /.author -->
                    </div>
                </div><!-- /.row -->
            </section><!-- /#steering-committee -->
            
            <section id="local">
                <div class="row">
                    <div class="col-md-6">
                        <header><h2 class="no-divider">Local arrangements chair</h2></header>
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">    
                                    <header><a target="_blank" href="https://people.ucsc.edu/~palvaro/">Peter Alvaro</a></header>
                                    <figure>UC Santa Cruz</figure>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>

            <section id="publications">
                <header><h2 class="no-divider">Publications chair</h2></header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="https://www.sihangliu.com/">Sihang Liu</a></header>
                                    <figure>University of Waterloo </figure>
                                </div>
                            </article>
                        </div>
                    </div>
                </div> <!-- end row -->
            </section--><!-- /#publications -->

            <section id="media">
                <header><h2 class="no-divider">Media chair</h2></header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="https://sites.utexas.edu/neeraja/">Neeraja Yadwadkar</a></header>
                                    <figure>UT Austin and VMware Research</figure>
                                </div>
                            </article>
                        </div>
                    </div>
                </div> <!-- end row -->
            </section--><!-- /#media-->

            <section id="finance">
                <header><h2 class="no-divider">Finance chair</h2></header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="https://web.stanford.edu/~kkaffes/">Kostis Kaffes</a></header>
                                    <figure>Systems Research@Google</figure>
                                </div>
                            </article>
                        </div>
                    </div>
                </div> <!-- end row -->
            </section--><!-- /#media-->

            <section id="sponsorship">
                <header><h2 class="no-divider">Sponsorship chair</h2></header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="https://www.microsoft.com/en-us/research/people/mainterl/">Matteo Interlandi</a></header>
                                    <figure>Gray Systems Lab, Microsoft</figure>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section id="poster-chairs">
                <header><h2 class="no-divider">Poster chairs</h2></header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="https://www.microsoft.com/en-us/research/people/jyleeka/">Jyoti Leeka</a></header>
                                    <figure>Microsoft Gray Systems Lab</figure>
                                </div>
                            </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                            <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                    <header><a target="_blank" href="https://sites.psu.edu/timothyz/">Timothy Zhu</a></header>
                                    <figure>The Pennsylvania State University</figure>
                                </div>
                            </article>
                    </div>
                </div>
            </section> -->
           
            <!--section id="treasurer">
            <div class="row">
            <div class="col-md-6">
            <header><h2 class="no-divider">Treasurer</h2></header>
            <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
            <article class="paragraph-wrapper" style="padding-left:0;">
            <div class="inner">
            
            <header><a target="_blank" href="https://www.linkedin.com/in/chris-douglas-73333a1/">Chris Douglas</a></header>
            <figure>Apple</figure>
            </div>
            </article>
            </div>
            </div>
            </div>
            </section-->
            
            {%comment%}
            <section id="proceedings">
            <header><h2 class="no-divider">Proceedings chair</h2></header>
            <div class="row">
            <div class="col-md-6">
            <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
            <article class="paragraph-wrapper" style="padding-left:0;">
            <div class="inner">        
            <header><a target="_blank" href="https://www.linkedin.com/in/sumita-barahmand-60961a1b/">Sumita Barahmand</a></header>
            <figure>Microsoft</figure>
            </div>
            </article>
            </div>
            </div>    
            </div>
            </section><!-- /#Proceedings-chair -->
            {%endcomment%}
            
            <!--section id="diversity">
            <header><h2 class="no-divider">Diversity and inclusion chair</h2></header>
            <div class="row">
            <div class="col-md-6">
            <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
            <article class="paragraph-wrapper" style="padding-left:0;">
            <div class="inner">
            
            <header><a target="_blank" href="https://cs.stanford.edu/~neeraja/">Neeraja Yadwadkar</a></header>
            <figure>Stanford University</figure>
            </div>
            </article>
            </div>
            </div>
            </div>
            </section-->    
            
            <section id="publicity">
            <header><h2 class="no-divider">Diversity and Inclusion chair</h2></header>
            <div class="row">
            <div class="col-md-6">
            <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
            <article class="paragraph-wrapper" style="padding-left:0;">
            <div class="inner">
            <header><a target="_blank" href="https://www.professoren.tum.de/en/giceva-jana">Jana Giceva</a></header>
            <figure>TU Munich</figure>
            </div>
            </article>
            </div>
            </div>
            </div>
            </section>

            <section id="publicity">
            <header><h2 class="no-divider">Web chair</h2></header>
            <div class="row">
            <div class="col-md-6">
            <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
            <article class="paragraph-wrapper" style="padding-left:0;">
            <div class="inner">
            <header><a target="_blank" href="https://chatterjeesubarna.github.io/">Subarna Chatterjee</a></header>
            <figure>Harvard University</figure>
            </div>
            </article>
            </div>
            </div>
            </div>
            </section>
            
            <!--section id="sponsorship">
            <header><h2 class="no-divider">Registration chair</h2></header>
            <div class="row">
            <div class="col-md-6">
            <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
            <article class="paragraph-wrapper" style="padding-left:0;">
            <div class="inner">
            <header><a target="_blank" href="http://renata.borovica-gajic.com/">Renata Borovica-Gajic</a></header>
            <figure>University of Melbourne</figure>
            </div>
            </article>
            </div>
            </div>
            </div>
            </section>
            
            <section id="sponsorship">
            <header><h2 class="no-divider">Marketing chair</h2></header>
            <div class="row">
            <div class="col-md-6">
            <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
            <article class="paragraph-wrapper" style="padding-left:0;">
            <div class="inner">
            <header><a target="_blank" href="http://www.pinartozun.com/">Pınar Tözün</a></header>
            <figure>IT University of Copenhagen</figure>
            </div>
            </article>
            </div>
            </div>
            </div>
            </section>
            
            
            <section id="sponsorship">
            <header><h2 class="no-divider">Mentorship chair</h2></header>
            <div class="row">
            <div class="col-md-6">
            <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
            <article class="paragraph-wrapper" style="padding-left:0;">
            <div class="inner">
            <header><a target="_blank" href="https://people.ucsc.edu/~palvaro/">Peter Alvaro</a></header>
            <figure>University of California, Santa Cruz</figure>
            </div>
            </article>
            </div>
            </div>
            </div>
            </section-->
            
            
            </div><!-- /#page-main -->
            </div><!-- /.col-md-6 -->
            
            <!--SIDEBAR Content-->
            
            <div class="col-md-3">
            
            {% include latest-news.html %}
            <!--		    
            <section class="news-small" id="news-small">
            
            <header>
            <h2>Latest news</h2>
            </header>
            <div class="section-content">
            <a class="twitter-timeline" href="https://twitter.com/acmsocc2017">Tweets by acmsocc2017</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            
            
            </section>
            -->		    
            
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->
