---
layout: default
---


{% include slider.html content="<h2>Registration</h2>"%}

<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      {%include important_dates.html%}
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Registration</h1>
          </header>

      
<!-- Content -->
<div class="section-content">

  <!-- <font size="+2">TBA</font> -->

<p style="color:#808080;font-size:14px;">To promote community building, registration for SOCC’23 takes the form of packages that include the conference with lodging and food. The early-bird rates for those packages are heavily discounted. </p>

<p style="color:#808080;font-size:14px;">The prices listed for all packages include ALL taxes and fees.</p>

<p style="color:#808080;font-size:14px;">Ηotel block of rooms is only guaranteed until <b>October 9th, 2023</b>.</p>

<p style="color:#808080;font-size:14px;"><b>Please note that we will share your name with the hotel to reserve your room as the package is all-inclusive.</b></p>

<p style="color:#808080;font-size:14px;"><b>Please note that the early registration deadline is October 9th, 2023</b>.</p>


<h3>Student Package (Shared double room)</h3>
<p style="color:#808080;font-size:14px;">Full-time students are eligible for the student package, which includes conference registration, lodging in a shared double room for two or three nights (we will help with roommate assignments), all meals, all taxes, and all fees.
</p>


<h3 style="color:#808080;font-size:14px;">Three Nights: </h3>
<ul>
  <li style="color:#808080;font-size:14px;"><b>Early Registration:</b> $1,200</li>
  <li style="color:#808080;font-size:14px;"><b>Late Registration:</b> $1,400</li>
</ul>  

<h3 style="color:#808080;font-size:14px;">Two Nights: </h3>
<ul>
  <li style="color:#808080;font-size:14px;"><b>Early Registration:</b> $1,000</li>
  <li style="color:#808080;font-size:14px;"><b>Late Registration:</b> $1,200</li>
</ul>  

<p style="color:#808080;font-size:14px;">If you are a student but would like an individual room, you need to book one of the packages below under Member or Non-Member.</p>



<h3>ACM/SIG Member Packages (Individual room)</h3>
<p style="color:#808080;font-size:14px;">ACM/SIG members are eligible for member packages, which include conference registration, lodging in an individual room for two or three nights, all meals, all taxes, and all fees.
</p>


<h3 style="color:#808080;font-size:14px;">Three Nights: </h3>
<ul>
  <li style="color:#808080;font-size:14px;"><b>Early Registration:</b> $1,900</li>
  <li style="color:#808080;font-size:14px;"><b>Late Registration:</b> $2,100</li>
</ul>  

<h3 style="color:#808080;font-size:14px;">Two Nights: </h3>
<ul>
  <li style="color:#808080;font-size:14px;"><b>Early Registration:</b> $1,300</li>
  <li style="color:#808080;font-size:14px;"><b>Late Registration:</b> $1,500</li>
</ul>  

<p style="color:#808080;font-size:14px;">Two-night options are open till the early registration deadline. </p>





<h3>Non-ACM/SIG Member Packages (Individual room)</h3>
<p style="color:#808080;font-size:14px;">Everyone is eligible for the non-member packages, which include conference registration, lodging in an individual room for three nights, all meals, all taxes, and all fees.
</p>


<h3 style="color:#808080;font-size:14px;">Three Nights: </h3>
<ul>
  <li style="color:#808080;font-size:14px;"><b>Early Registration:</b> $2,000</li>
  <li style="color:#808080;font-size:14px;"><b>Late Registration:</b> $2,200</li>
</ul>  

<h3 style="color:#808080;font-size:14px;">Two Nights: </h3>
<ul>
  <li style="color:#808080;font-size:14px;"><b>Early Registration:</b> $1,400</li>
  <li style="color:#808080;font-size:14px;"><b>Late Registration:</b> $1,600</li>
</ul>  

<p style="color:#808080;font-size:14px;">Two-night options are open till the early registration deadline. </p>


<h1>Dates</h1>
<p style="color:#808080;font-size:14px;">For a 3 night stay the check in date is October 29th, and check out is on 11/1.</p>
<p style="color:#808080;font-size:14px;">For a 2 night stay the check in date is October 30th, and the check out is 11/1.</p>

<h1>Registration Link</h1>
<p style="color:#808080;font-size:14px;">The registration link is <a href="https://cvent.me/4KEdXl" target="_blank">https://cvent.me/4KEdXl</a>.</p>

<h1>Cancellation Policy</h1>
<p style="color:#808080;font-size:14px;">SoCC’23 does not offer a refund. However, you may transfer the registration to others. For other special conditions, please contact <a href="mailto:sihangliu@uwaterloo.ca"><u>sihangliu@uwaterloo.ca</u></a>.</p>

       
<!-- <div class="table-responsive">
            <table class="table table-hover course-list-table">
            <thead>
            <tr>
                <font size=100>
                <th><p>Type</p></th>
                <th><p>Early registration</p></th>
                <th><p>Late/Onsite registration</p></th>
                </font>
            </tr>
            </thead>
            <tbody>
            <font size="12">
           <tr>
                <th><p>Regular ACM/SIG Member</p></th>
                <th><p>$ 750</p></th>
                <th><p>$ 850</p></th>
            </tr>
            <tr>
                <th><p>Regular Non-member</p></th>
                <th><p>$ 875</p></th>
                <th><p>$ 975</p></th>
            </tr>
            <tr>
                <th><p>Student ACM/SIG Member</p></th>
                <th><p>$ 325</p></th>
                <th><p>$ 400</p></th>
            </tr>
            <tr>
                <th><p>Student Non-member</p></th>
                <th><p>$ 400</p></th>
                <th><p>$ 475</p></th>
            </tr>
            <tr>
                <th><p>Online Attendee</p></th>
                <th><p>$ 75</p></th>
            </tr>
            </font>
            </tbody>
            </table>
            <p>The early registration cutoff is 5pm US Eastern Time on 10/17/2022.</p>
        </div>

        <div>

        <center><p><a style='margin:auto;text-decoration:none;border-radius:3px;padding:10px;width:200;font-family:Helvetica;line-height:1.6;font-weight:400;font-size:16px;display:inline-block;text-align:center;background-color:#2DACEE;color:#FFFFFF;' target='_blank' href='https://cvent.me/woWkVm'>Register</a></p></center>
        </div>

</div> -->
<!-- end Content -->
          
          
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

        <!--
      <div class="col-md-3">
        {% include latest-news.html %}
      </div>
        -->
          <!-- /.col-md-3 -->
    
       </div><!-- /.row -->
  </div><!-- /.container -->
</div>
   
  
