---
layout: default
---


{% include slider.html content="<h2>Registration</h2>"%}

<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      {%include important_dates.html%}
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Registration</h1>
          </header>

      
<!-- Content -->
<div class="section-content">
       
<div class="table-responsive">
            <table class="table table-hover course-list-table">
            <thead>
            <tr>
                <font size=100>
                <th>Type</th>
                <th>Early registration</th>
                <th>Late/Onsite registration</th>
                </font>
            </tr>
            </thead>
            <tbody>
            <font size="12">
           <tr>
                <th>Regular ACM/SIG Member</th>
                <th>$ 750</th>
                <th>$ 850</th>
            </tr>
            <tr>
                <th>Regular Non-member</th>
                <th>$ 875</th>
                <th>$ 975</th>
            </tr>
            <tr>
                <th>Student ACM/SIG Member</th>
                <th>$ 325</th>
                <th>$ 400</th>
            </tr>
            <tr>
                <th>Student Non-member</th>
                <th>$ 400</th>
                <th>$ 475</th>
            </tr>
            <tr>
                <th>Online Attendee</th>
                <th>$ 75</th>
            </tr>
            </font>
            </tbody>
            </table>
            <p>The early registration cutoff is 5pm US Eastern Time on 10/14/2022.</p>
        </div>

        <div>
        <p>Link to registration website: <a href="https://cvent.me/woWkVm"><b>Register Here</b></a></p>
        </div>

</div>
<!-- end Content -->
          
          
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

        <!--
      <div class="col-md-3">
        {% include latest-news.html %}
      </div>
        -->
          <!-- /.col-md-3 -->
    
       </div><!-- /.row -->
  </div><!-- /.container -->
</div>
   
  
