---
layout: default
---

{% include slider.html content="<h2>Student Scholarships</h2>" %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      {%include important_dates.html%}
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Student scholarships</h1>
          </header>
          <div class="section-content">

            <p>The ACM Symposium on Cloud Computing 2020 (SoCC '22) is the thirteenth in an established series of symposia that bring together researchers, developers, users, and practitioners interested in cloud computing. SoCC offers multiple opportunities for students to share their knowledge, experience, and research works with internationally recognized researchers from both academia and industry.</p> 

            <p>To this end, the SoCC planning committee, is pleased to offer a small number of travel scholarships to help students defray the costs of attending the program. Priority will be given to students with an accepted paper at SoCC, as well as students from groups historically underrepresented at the conference. </p>

            <p>Applicants should be full time students (undergraduate or graduate) and will be expected to attend the full conference. Awardees will receive a partial reimbursement for conference registration and travel expenses.</p>

	  <p style="color:red;">Scholarship Applications Due: October 17th (11:59:59pm PST)<br>
			  Award Notification: October 20th, 2022<br><br></p>

            <a id="howtoapply"><h2>Application Process</h2></a>
		  <p>Submit in one PDF file the following: </p>
            <p>
              <ul class="topics-list">
		<li>A cover letter that includes the student's full name, school affiliation, and contact information, and the advisor's full name and contact information (if applicable). </li>
		<li>A 1 page statement from the student outlining her or his research area and how it relates to SoCC. </li>
		<li>Student's CV (max 2 pages).</li>
		<li>A letter of support from the student's advisor confirming the student's academic standing, explaining how the student would benefit from conference attendance, and outlining other resources that will be provided to the student for attending SoCC.</li>
              </ul>
            </p>
        <p>Naming convention for the pdf: <b>inst-first-last-travelsupport.pdf</b> (where inst = institution domain name, first = first name, last = last name, all in lower case). For example, <b>uchicago-sam-smith-travelsupport.pdf</b>.  </p>

        <p>Email the pdf to <a href="mailto:socc22travel@gmail.com"><b>socc22travel@gmail.com</b></a> with subject line [Inst First Last]</p>
          
	    <h2>Selection Committee</h2>
            <p>
              <ul class="topics-list">
                <li>Ada Gavrilovska, Georgia Tech </li>
                <li>Patrick Stuedi, Meta </li>
                <li>Neeraja Yadwadkar, UT Austin and VMware Research </li>
              </ul>
            </p>
	    <br><br>
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      
      <div class="col-md-3">
	{% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
