---
layout: default
---

{% include slider.html content="<h2>Student Scholarships</h2>" %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      {%include important_dates.html%}
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Student scholarships</h1>
          </header>

          <!-- <font size="+2">TBA</font> -->

          <div class="section-content">

            <p>The ACM Symposium on Cloud Computing 2023 (SoCC '23) is the 14th in an established series of symposia that bring together researchers, developers, users, and practitioners interested in cloud computing.  SoCC offers multiple opportunities for students to share their knowledge, experience, and research work with internationally recognized researchers from both academia and industry.</p> 

            <p>To this end, the SoCC planning committee is pleased to offer a small number of travel scholarships to help students defray the costs of attending the program. Priority will be given to students with an accepted paper at SoCC, as well as students from groups historically underrepresented at the conference.</p>

            <p>Applicants must be full time students (undergraduate or graduate) and will be expected to attend the full conference. Awardees will receive a partial reimbursement for conference registration and travel expenses.</p>

	  <p style="color:red;">Scholarship Applications Due: October 2nd, 2023 (11:59:59pm ET)<br>
			  Award Notification: October 16th, 2023<br><br></p>

            <a id="howtoapply"><h2>Application Process</h2></a>
            <p>ALL application material is collected through this <a href="https://forms.gle/kFCYRwGWqwM4pBR57" target="_blank">form</a>. Please click this link to submit your student travel grant application. The link will no longer be accessible after the deadline. </p>

            <p>Please note that the application form will ask to upload three required pdf files (each not exceeding 10MB): </p>

		  <!-- <p>Submit in one PDF file the following: </p> -->
            <p>
              <ul class="topics-list">
		<li style="color:black;">A 1 page statement from the student outlining her or his research area and how it relates to SoCC </li>
		<li style="color:black;">A 2 page student CV </li>
		<li style="color:black;">A letter from your advisor in support of the student’s travel grant application. The advisor letter should confirm the student’s academic standing, explain how the student will benefit from attending the conference, and outline any other resources available to cover student travel.</li>
              </ul>
            </p>
            <p>Please make sure you follow the naming convention specified for each of these three pdfs.</p>

        <!-- <p>Naming convention for the pdf: <b>inst-first-last-travelsupport.pdf</b> (where inst = institution domain name, first = first name, last = last name, all in lower case). For example, <b>uchicago-sam-smith-travelsupport.pdf</b>.  </p> -->

        <p>Contact email: <a href="mailto:socc23travel@gmail.com"><b>socc23travel@gmail.com</b></a> (should NOT be used for applications. Only the applications submitted through the <a href="https://forms.gle/kFCYRwGWqwM4pBR57" target="_blank">form</a> will be considered).</p>
          
	    <h2>Selection Committee</h2>
            <p>
              <ul class="topics-list">
                <li>Dr. Fatma Ozcan, Google </li>
                <li>Prof. Alexey Tumanov, Georgia Tech </li>
                <li>Prof. Divya Mahajan, Georgia Tech </li>
                <li>Prof. Kexin Rong, Georgia Tech </li>
                <li>Prof. Anand Iyer, Georgia Tech </li>
              </ul>
            </p>
	    <br><br>
          </div>
          <!-- /.section-content -->



        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      
      <div class="col-md-3">
	{% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
