---
layout: default
---

{% include slider.html content="<h2>Things to do in Santa Cruz</h2>" %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      {%include important_dates.html%}
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Local stuff – what to do in Santa Cruz?</h1>
          </header>


          <div class="section-content">

            <ul>
              <li>Visit the Santa Cruz Boardwalk and ride the <a href="https://beachboardwalk.com/rides/giant-dipper/" target=”_blank”>Giant Dipper</a>.</li>
              <li>Get a <a href="http://steamerlanesc.com/" target=”_blank”>snack</a> and walk the bluffs at lighthouse field.</li>
              <li>Stand under the giant redwoods at <a href="https://www.parks.ca.gov/?page_id=546" target=”_blank”>Henry Cowell Redwoods</a> in Felton.</li>
              <li>Have a glass of <a href="https://www.vino-by-the-sea.com/" target=”_blank”>wine</a> at sunset on the municipal pier.</li>
              <li>Shop and get your feet wet at the seaside village of Capitola.</li>
              <li>Play disc golf at <a href="https://www.cityofsantacruz.com/government/city-departments/parks-recreation/parks-beaches-open-spaces/parks/delaveaga-park" target=”_blank”>De Laveaga park</a>, where the sport was invented.</li>
              <li>Watch the surfers and the pelicans at <a href="https://www.californiabeaches.com/beach/four-mile-beach-at-wilder-ranch-state-park/" target=”_blank”>four mile beach</a>.</li>
              <li>Pick apples on Cal Poly's Swanton <a href="https://spranch.calpoly.edu/upick" target=”_blank”>ranch</a>.</li>
            </ul>

            
            
        
	    
	    <br><br>
          </div>
          <!-- /.section-content -->



        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      
      <div class="col-md-3">
	{% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
