---
layout: default
---


{% include slider.html content="<h2>Accommodation</h2>"%}

<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      {%include important_dates.html%}
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Venue</h1>
          </header>

      
<!-- Content -->
<div class="section-content">
  <p> ACM SoCC 2022 will take place at the
    <a href="https://www.marriott.com/en-us/hotels/sfodt-san-francisco-marriott-marquis/overview/"
      style="text-decoration:underline;">San Francisco Marriott Marquis Hotel</a> <b>in November 2022.</b></p>

    <p><img src="assets/marriott-marquis-sfo.jpg" width="500" alt="Image of the San Francisco Marriott Marquis Hotel"></p>
    <p>The hotel is located at 780 Mission St, San Francisco, CA 94103, close to many attractions, restaurants, and transportation.</p>
        
</div>
<!-- end Content -->
          
          
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

        <!--
      <div class="col-md-3">
        {% include latest-news.html %}
      </div>
        -->
          <!-- /.col-md-3 -->
    
       </div><!-- /.row -->
  </div><!-- /.container -->
</div>
   
  
