---
layout: default
---


{% include slider.html content="<h2>Accommodation</h2>"%}

<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      {%include important_dates.html%}
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Venue</h1>
          </header>

      
<!-- Content -->
<div class="section-content">
  
   <p> ACM SoCC 2023 will take place at the
    <a href="https://www.chaminade.com/?utm_source=google&utm_medium=organic&utm_campaign=gmb"
      style="text-decoration:underline;">Chaminade Resort & Spa</a> <b>from October 30th to November 1st, 2023.</b></p> 

      <!-- <font size="+2">TBA</font> -->

    <!-- <p><b>A special group rate of 279 USD - 339 USD per night is available to conference participants. The group rate is available prior to October 17, 2023 via the following link:
    <br>
    <a href="https://www.marriott.com/events/start.mi?id=1660864944660&key=GRP" style="text-decoration:underline;">Book your group rate for ACM Symposium on Cloud Computing</a></b></p>-->




    <p><img src="assets/chaminade.jpeg" width="500" alt="Image of Chaminade Resort & Spa"></p>
    <p>The hotel is located at 1 Chaminade Ln, Santa Cruz, CA 95065, close to many attractions, restaurants, and transportation.</p>
        
</div> 




<!-- end Content -->
          
          
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

        <!--
      <div class="col-md-3">
        {% include latest-news.html %}
      </div>
        -->
          <!-- /.col-md-3 -->
    
       </div><!-- /.row -->
  </div><!-- /.container -->
</div>
   
  
