---
layout: default
---


{% include slider.html content="<h2>Venue</h2>"%}

<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      {%include important_dates.html%}
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Venue</h1>
          </header>

      
<!-- Content -->
<div class="section-content">
<p>This year SoCC 2024 will be hosted by Microsoft in the Redmond campus.
Note that there is no official hotel or hotel block for the conference,
we will add hotel suggestions soon.</p>

<p><b>Conference Location: Microsoft Building 7, 15675 NE 36th St, REDMOND, WA 98052</b></p>

<p>Free parking will be available on site, check back for detailed instructions.</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3181.712654410473!2d-122.13393018773812!3d47.642073785406645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906d3006fc27e7%3A0xf57e9611bf434f57!2sMicrosoft%20Building%207!5e1!3m2!1sen!2sus!4v1729794643023!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


</div><!-- /.section-content -->
</section><!-- /.main-content -->
</div><!-- /.col-md-6 -->


</div>
</div>
</div>