<div class="row">
  <!-- <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://cisco.com/" target="_blank" rel="nofollow">
        <img alt="Cisco" border="0" src="assets/img/logos-Cisco.png" style="border:0px currentColor" width="100" /></a>
  </div><br> -->

 <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://ibm.com/" target="_blank" rel="nofollow">
       <img alt="ibm" border="0" src="assets/img/logos-IBM.png" style="border:0px currentColor" width="90" /></a>
  </div>

 </div>
 <div class="row">
 <br>

 <!-- <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://google.com/" target="_blank" rel="nofollow">
       <img alt="google" border="0" src="assets/img/logo-google.png" style="border:0px currentColor" width="150" /></a>
  </div> -->

</div>
