<div class="row">
  <!-- <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://www.ebay.com/" target="_blank" rel="nofollow">
        <img alt="eBay" border="0" src="assets/img/logos-ebay.png" style="border:0px currentColor" width="80" /></a>
  </div>
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://www.linkedin.com/company/futureweitechnologiesinc/" target="_blank" rel="nofollow">
        <img alt="Futurewei Technologies" border="0" src="assets/img/logo-futurewei.png" style="border:0px currentColor" width="160" /></a>
  </div> -->
</div>

