        <section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>
          <div class="section-content">
            <br>
            <!--article class="event nearest">
              <figure class="date">
                <div class="month">jun</div>
                <div class="day">10</div>
              </figure>
              <aside>
                <header>
                  Paper registration deadline at 5pm EDT
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">jun</div>
                <div class="day">17</div>
              </figure>
              <aside>
                <header>
                  Paper submission deadline at 5pm EDT
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">aug</div>
                <div class="day">22</div>
              </figure>
              <aside>
                <header>
                  Authors' response period begins
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">aug</div>
                <div class="day">26</div>
              </figure>
              <aside>
                <header>
                  Authors' response period ends
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">sep</div>
                <div class="day">5</div>
              </figure>
              <aside>
                <header>
                  Notification to authors
                </header>
              </aside>
            </article-->
	        <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">oct</div>
                <div class="day">7</div>
              </figure>
              <aside>
                <header>
                  Camera ready deadline
                </header>
              </aside>
            </article--><!-- /article -->
	        <br>
	        <br>
	        <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">oct</div>
                <div class="day">7</div>
              </figure>
              <aside>
                <header>
                  Poster registration deadline
                </header>
              </aside>
            </article><!-- /article -->
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">oct</div>
                <div class="day">17</div>
              </figure>
              <aside>
                <header>
                  <a href="scholarships.html" style="text-decoration:underline;">Student scholarship deadline</a>
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">oct</div>
                <div class="day">17</div>
              </figure>
              <aside>
                <header>
                  <a href="venue.html" style="text-decoration:underline;">Hotel group rate deadline</a>
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">oct</div>
                <div class="day">17</div>
               </figure>
              <aside>
                <header>
                  <a href="register.html" style="text-decoration:underline;">Early-bird registration deadline</a>
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">Nov</div>
                <div class="day">8</div>
              </figure>
              <aside>
                <header>
                  Conference starts!
                </header>
              </aside>
            </article>
	    <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->

