<div class="row">

    <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://google.com/" target="_blank" rel="nofollow">
       <img alt="google" border="0" src="assets/img/logo-google.png" style="border:0px currentColor" width="150" /></a>
  </div>

  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://www.ibm.com/us-en/" target="_blank" rel="nofollow">
       <img alt="activeloop" border="0" src="assets/img/logos-ibm.png" style="border:0px currentColor" width="150" /></a>
  </div>
  <!-- 
 <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://tiledb.com/" target="_blank" rel="nofollow">
       <img alt="tiledb" border="0" src="assets/img/logos-tiledb.jpeg" style="border:0px currentColor" width="140" /></a>
  </div>

  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://www.oracle.com" target="_blank" rel="nofollow">
        <img alt="Oracle" border="0" src="assets/img/logo-oracle.png" style="border:0px currentColor" width="150" /></a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://www.hpe.com/us/en/home.html" target="_blank" rel="nofollow">
        <img alt="HPE" border="0" src="assets/img/logo-hpe.png" style="border:0px currentColor" width="150" /></a>
  </div>
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://www.snowflake.com/" target="_blank" rel="nofollow">
        <img alt="snowflake" border="0" src="assets/img/logo-snowflake.png" style="border:0px currentColor" width="150" /></a>
  </div> -->
</div>
