<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="row">
            <div class="image-chaminade">
              <div class="slide">
                <div class=figure>
              <p><img src="assets/img/banner-sf.jpg" alt="" style="width:400px;"></div></p>
             <p><i><small>Photo courtesy of Hristina Šatalova (https://unsplash.com)</small></i></p> 
              </div><!-- /.slide -->
            </div><!-- /.image-chaminade -->
          </div><!-- /.row -->
        </div><!-- /.col-md-6 -->
        <div class="col-md-8 col-sm-12">
          <header>
            {{include.content}}
          </header>
        </div><!-- /.col-md-6 -->

      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->
