<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-2 col-sm-2" style="width: 15%">
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="row">
            <div class="image-chaminade">
              <div class="slide">
                <div class=figure>
              <img src="assets/img/sanfrancisco-banner-socc-dates.jpeg" alt="" style="max-width: 100%;"></div>
              </div><!-- /.slide -->
            </div><!-- /.image-chaminade -->
          </div><!-- /.row -->
        </div><!-- /.col-md-6 -->
      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->

{%comment%}
<!-- Slider -->
<div id="slider">
  <div class="container">
      <div class="row">
          <div class="row">
              <div class="slide">
                <div class=figure>
              <p><img src="assets/img/banner2.png" alt="" style="width:100%;"></div></p>
              </div><!-- /.slide -->
          </div><!-- /.row -->
        </div><!-- /.col-md-6 -->

  </div><!-- /.container -->
</div>
<!-- end Slider -->
{%endcomment%}
