<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="row">
            <div class="image-carousel">
              <div class="slide">
                <div class="image-carousel-slide">
                  <!--
                  <img src="assets/img/cape_rey_carlsbad.jpg" alt="">
                  -->
                   <iframe src="https://www.google.com/maps/d/embed?mid=17wpLPz-QSmX-TF6WXgplrjRjED4PQtNz" 
				width="100%" height="400" frameborder="0" style="border:0" allowfullscreen>
                  </iframe>
                </div>
              </div><!-- /.slide -->
            </div><!-- /.image-carousel -->
          </div><!-- /.row -->
        </div><!-- /.col-md-6 -->
	   <!--   
        <div class="col-md-3 col-sm-12">
          
	   <header>
            <h2>Location</h2><br>
          </header>
        </div>
	-->
	      <!-- /.col-md-3 -->
      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->
